* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  --color: rgba(31, 0, 115, 0.3);
  background-color: #25243a;
  background-image: linear-gradient(
      180deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      var(--color) 35%,
      var(--color) 26%,
      transparent 17%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.task-title {
  color: #fff;
  padding: 30px;
  margin: 10px;
}

.task-title h1 {
  text-align: center;
}

.tasks-list-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 30px;
  grid-column-gap: 50px;
  margin: 10px;
}

.dashboard-container {
  border-radius: 30px;
  border: 0.05px solid #c5cacf;
  padding: 30px;
  margin: 10px;
  padding: 50px;
}

.dashboard-container .dashboard-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-direction: column;
}

.dashboard-container .dashboard-item .text-item-task {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  background: #e3e3e95d;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
  justify-content: space-between;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.search-task {
  width: 100%;
  display: flex;
  border-radius: 30px;
  border: 0.05px solid #c5cacf;
  padding: 15px;
  margin: 10px;
}

button {
  cursor: pointer;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.02);
}

.search-task input {
  border-radius: 10px;

  border: 0;
  width: 100%;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin: 10px;
}

.search-task input:focus {
  outline-offset: 5px;
  background-color: #fff;
  outline: 2px solid #12971d;
}

.tasks-container .tasks-list-item .task-itens .task-item {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  background: #e3e3e95d;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
  justify-content: space-between;
}

.tasks-container .tasks-list-item .task-itens .task-item > i:hover {
  cursor: pointer;
}
.tasks-container .tasks-list-item .task-itens .task-item > p:hover {
  cursor: pointer;
}

.tasks-list-item {
  width: 100%;
  border-radius: 30px;
  border: 0.05px solid #c5cacf;
  padding: 30px;
}

.dialog {
  border-radius: 30px;
  background: #1b1735bb;
  border: 0.05px solid #c5cacf;
  padding: 30px;
  margin-top: 5%;
  margin-left: 20%;
}

.dialog .dialog-container .dialog-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog .dialog-container .dialog-input input {
  border: 2px solid transparent;
  width: 30em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 10px;
}

.dialog .dialog-container .dialog-input input:focus {
  border: 2px solid #2ba8fb;
  background-color: #fff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.02);
}

.dialog .dialog-container .dialog-input textarea {
  border: 2px solid transparent;
  width: 30em;
  height: 10em;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 10px;
  outline: none;
  padding: 10px;
}

.dialog .dialog-container .dialog-input textarea:focus {
  border: 2px solid #2ba8fb;
  background-color: #fff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.02);
}

.dialog .dialog-container .dialog-title h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.dialog-button {
  display: flex;
  justify-content: space-between;
}

.tasks-container .tasks-list-item .task-itens .task-item.completed {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  background: #08b6344f;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
  justify-content: space-between;
}

.progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#ccc 0%, #ccc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 10px auto;
}

.task-itens {
  max-height: 313px; /* Defina a altura máxima para a área que terá a rolagem */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
  padding: 10px; /* Espaçamento interno */
}

.task-itens::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.add-task {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#total-tasks,
#completed-tasks,
#pending-tasks {
  cursor: pointer;
  text-decoration: underline;
}
